<html>
    <head>
        <style>
        .a {
            margin-left: 44%;
        }
        .b {
            margin-left: 47%;
        }
        </style>
    </head>
    
    
    <body>
    
        <h1 style="text-align:center; color:red; font-family:Arial;">Countries of the World</h1>

        <img class="a" src = "http://www.greenne.com/wp-content/uploads/2013/05/globe-290x290.png" height=150px>
    
        <h1 style="text-align:center; color:red; font-family:Arial;"><i>Trivia Guessing Game</i></h1>

        <br>
        <h2 style="font-family:Arial;text-align:center;">Here's your question...</h2>
        <br>
        <h3 style="text-align:center;">
        <%= @q.question %>
        </h3>
        
        <br>
        
        <p style="text-align:center;">Click "next" for your answer.</p>
        
        <a href="/answer">
            <img class="b" src="http://www.clker.com/cliparts/I/B/u/K/E/N/thin-gray-next-button.svg" height=50px>
        </a>
    
    </body>
</html>