<html>
    <head>
        <style>
        h1 {
            color: red;
        }
        body {
            font-family:Arial;
            text-align:center;
        }
        .a {
            margin-left: 450px;
            margin-right: 450px;
        }
        .b {
            margin-left: 500px;
            margin-right: 500px;
        }
        .c {
            margin-left: 300px;
            margin-right: 300px;
        }
        </style>
    </head>
    
    
    <body>
    
        <h1>Countries of the World</h1>

        <img class="a" src = "http://www.greenne.com/wp-content/uploads/2013/05/globe-290x290.png" height=150px>
    
        <h1><i>Trivia Guessing Game</i></h1>
        
        <h2>Here's your question...</h2>
        
        <br>
        
        <h2><i>
            "<%= @questions.question %>"
        </i></h2>
        
        <br>
        
        <p>Click "next" for your answer.</p>
            <a href="/answer?id=<%=@questions.id %>">
                <img class="b" src="http://www.clker.com/cliparts/I/B/u/K/E/N/thin-gray-next-button.svg" height=50px>
              </a>
    </body>
</html>