<html>
    <head>
        <style>
        h1 {
            color: red;
        }
        body {
            font-family:Arial;
            text-align:center;
        }
        .a {
            margin-left: 450px;
            margin-right: 450px;
        }
        .b {
            margin-left: 500px;
            margin-right: 500px;
        }
        .c {
            margin-left: 300px;
            margin-right: 300px;
        }
        </style>
    </head>
    
    
    <body>
    
        <h1>Countries of the World</h1>

        <img class="a" src = "http://www.greenne.com/wp-content/uploads/2013/05/globe-290x290.png" height=150px>
    
        <h1><i>Trivia Guessing Game</i></h1>
        
        <br>
        
        <p>Welcome to the <b><i>Countries of the World Trivia Guessing Game</i></b>.<br>This game is a great way to learn fun facts about countries from around the world.
        <br>To play, click the question mark button below to request a random question. <br> When you're ready, click "next" to view the answer!</p>
            
        <br>
         <h3>Request a Question</h3>
        <a href="/guess">
            <img class="b" src="https://jsis.washington.edu/cwes-euc/wp-content/uploads/sites/11/2016/09/1000px-Circle-question-red.svg_-e1475596743432.png" height=50px>
        </a>
        </body>
</html>