<html>
    <head>
        <style>
        .a {
            margin-left: 44%;
        }
        .b {
            margin-left: 47%;
        }
        </style>
    </head>
    
    
    <body>
    
        <h1 style="text-align:center; color:red; font-family:Arial;">Countries of the World</h1>

        <img class="a" src = "http://www.greenne.com/wp-content/uploads/2013/05/globe-290x290.png" height=150px>
    
        <h2 style="text-align:center; color:red; font-family:Arial;"><i>Trivia Guessing Game</i></h2>

        <br>
        <p style="text-align:center; font-family:Arial;">Welcome to the <b><i>Countries of the World Trivia Guessing Game</i></b>.<br>This game is a great way to learn fun facts about countries from around the world.
        <br>To play, click the question mark button below to request a random question. Try to guess the answer. When you're ready, click "next" to view the answer!</p>
            
        <br>
        <h3 style="text-align:center; font-family:Arial;">Request a Question</h3>
        <a href="/questions/guess">
            <img class="b" src="https://jsis.washington.edu/cwes-euc/wp-content/uploads/sites/11/2016/09/1000px-Circle-question-red.svg_-e1475596743432.png" height=50px>
        </a>
    
    </body>
</html>