<html>
    <body>
        <%= yield %>
    </body>
</html>


Layout page if we have styling and logos in layout we don't have to copy and paste to each erb.
If you need to style a erb different from layout you can put the second style tag in the bottom of the page. 
The program reads from top to bottom, so anything that is read earlier is replaced whats at the bottom