<!--<h1>< @types.title %></h1>-->

<h2><i>Questions</i></h2>

<!--< @types.question.each do |question| %>-->
<!--    % question.types.each do |type| %>-->
<!--     % type.title %>-->
<!--      end %>-->
<!--     < end %>-->
<% @questions.each do |question| %>
        <div>
            <h3>Question: <%= question.q_title %></h3>
        </div>
        <div>
            <h4>Answer</h4>
            <p><%= question.answer %></p>
        </div>
    <% end %>