
<h2><i>Questions</i></h2>


<% @type.questions.each do |question| %>
        <div>
            <h3>Question: <%= question.q_title %></h3>
        </div>
        <div>
            <h4>Answer</h4>
            <p><%= question.answer %></p>
        </div>
    <% end %>