<div class="typetitle">
    <h1><b>WELCOME</b></h1>
</div>
<div>
    <h4>
    How facilitators respond to questions from teens can impact how safe a teen feels in your class, which
    is very important to your teens' learning, application of new knowledge and skills, and social emotional development.
    Facilitators should respond to questions while keeping healthy boundaries in mind and teaching teens how to think,
    not what to think. --- <a href='https://wymancenter.org/'><i>Wyman Center, Inc.</i></a>
    </h4>
</div>

    <img src="https://junkmailimages.blob.core.windows.net/large/80c5d9d9d43b4626bf7173fc9724afde.jpg" height=35px>
    <%= link_to 'Return Home', user_questions_path %>

    <img src="https://img.icons8.com/color/260/search.png" height=35px>
    <%= link_to 'Search Questions', user_questions_search_path %>
    
    <img src="https://images.emojiterra.com/twitter/512px/1f5c3.png" height=35px>
    <%= link_to 'My Saved Questions', user_questions_view_path %>

