<h2><i>Search for Questions</i></h2>

<div>
    <form action='/user_questions/results' method="POST">
        <div>
            <input type="text" name="query" placeholder="Question">
        </div>
        <div>
            <input type="submit" value="Submit">
        </div>
</div>


