<h1>Look at you discovering new media to inspire, motivate and provide resources for you to reach your 2019 goals!</h1>

<form action='new' method='POST'>
    <div class='media types'>
        <h3>Select the media type from the options below. </h3>
        <select name='type'>
            <option value='music'>Music</option>
            <option value='video'>Video</option>
            <option value='webpage'>Webpage</option>
            <option value='image'>Image</option> 
        </select>
    </div>
    
    <div>
        <input type='text' name='title' placeholder='Video/Song Title'>
    </div>
    
    <div>
        <input type='text' name='artist_author' placeholder="Artist's or Author's Name">
    </div>
    
    <div class='influence'>
        <select name='influence'>
            <option value='inspire'>Inspires</option>
            <option value='motivate'>Motivates</option>
            <option value='resource'>Is a resource</option>
        </select>
    </div>
    
    <div>
        <textarea name='description' placeholder='Enter media description here.'></textarea>
    </div>
    
    <div>
        <input type='text' name='link' placeholder='Enter URL link to video or song'>
    </div>
     
    <div>
    <select name='goal'>
        <option value='goal_id'>'#{params[:}</option>
    </select>
    </div>
    
    <div>
        <input type='submit' name='save' value='Save'> 
    </div>
</form>