<h1>Look at you setting goals for 2019!</h1>

<p>Use this form to save goals to begin your vision board.</p>

<form action='new' method='POST'>
   
    <div>
        <input type='text' name='goal_type' placeholder="What's your goal? Describe in 3 words or less.">
    </div>
    
    <div>
        <textarea name='description' placeholder='Provide short description of your goal here.'></textarea>
    </div>
    
    <div>
        <input type='text' name='image' placeholder='Enter a URL for an image that represents your goal.'>
    </div>
    
    <div>
       When will you like to accomplish your goal? <input type='date' name='deadline'>
    </div>
    
    <div>
        <input type='submit' name='save' value='Save'> 
    </div>
    
</form>