<div class="sub">
    <h3><b>Administrator's Page: Search For Questions</h3>
</div>

<div>
    <h5>Enter a keyword (i.e. parents, condoms, partner, etc.).</h5>
    
    <div>
        <form action='/questions/results' method="POST">
            <input type="text" name="query" placeholder="Keyword">
    </div>
    <div>
            <input type="submit" value="Submit">
    </div>
</div>


