<section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading">Welcome</h1>
        <p class="lead text-muted">Welcome to the Diet Plan Restaurant Finder App.</p>
        <p class="lead text-muted">Your go-to resource for searching lunch-time favorites that align with your dietary needs.</p>
        <p class="lead text-muted">Click on the <b>"Restaurants"</b> button to view local restaurants and the diet plans they support.</p>
        <p class="lead text-muted">Click the <b>"Diets"</b> button to view the most popular diets and local restaurants that support those diet plans.</p> 
        <p>
            <a href="/diets" class="btn btn-primary my-2">Diet Plans</a>
            <a href="/restaurants" class="btn btn-secondary my-2">Restaurants</a>
        </p>
    </div>


