<form action='/results' method="POST">
    
    <h4>To search your contacts, enter their first and last names in the space provided.</h4>
            
    <div class="body">
    <input type="text" name="query" placeholder="First Name">
    </div>
         
    <div class="body">
    <input type="text" name="query" placeholder="Last Name">
    </div>
            
    <div class="body">
    <input type="submit" value="Submit">
    </div>
</form>