<form action='/results' method="POST">
            
            <div class="body">
            <input type="text" name="first_name_search" placeholder="First Name">
            </div>
         
            <div class="body">
            <input type="text" name="last_name_search" placeholder="Last Name">
            </div>
            
            <div class="body">
            <input type="submit" value="Submit">
            
            <!--<a href="/results"><input type="submit" value="Submit"><img src="https://dctacademy.com/wp-content/uploads/2015/06/ruby-logo.png" height=20px width=px>-->

            </div>
        </form>